@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    height: 100%;
    overflow: hidden;
    @apply antialiased text-white bg-zinc-950;
  }
  #root {
    height: 100%;
    @apply relative mx-auto w-full max-w-[480px] bg-black shadow-2xl;
  }
}